:root {
    --light-background: white;
    --dark-background: #1d1e1e;
    --back: var(--light-background);
    --col: var(--light-text-and-border);
    --light-text-and-border: black;
    --dark-text-and-border: white;
    --light-and-dark-always-orange: rgb(255, 165, 0);
    --warning-color: rgb(255, 0, 0);
}
body {
    background-color: var(--back);
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: var(--back);
}
.header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: var(--back);
    color: var(--col);
    font: 1.8rem "Rockwell Extra Bold";
    font-weight: bold;
    margin: -10px auto 0 auto;
    padding: 20px 0 0 0;
    z-index: 999;
}
.header>ul {
    list-style: none;
    margin: 0 100px 10px 25px;
    display: flex;
    flex-flow: row;
}
.header>ul>li {
    width: 30%;
    text-align: center;
}

a {
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}
a:link {
    color: var(--col);
}
a:visited {
    color: var(--col);
}
a:focus {
    color: var(--col);
}
a:hover {
    color: var(--warning-color);
}
a:active {
    color: var(--col);
}

.home {
    height: 20px;
    width: auto;
    display: inline-block;
    background-color: var(--light-and-dark-always-orange);
    margin-right: 3px;
}

.searchBar {
    width: 100%;
    height: auto;
    font: 1.6rem "Rockwell Extra Bold";
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 0 0 0 7px;
}

.mainContentDiv {
    width: 100%;
    padding-top: 50px;
}
.decks, .cards {
    width: 96%;
    background-color: var(--back);
    margin: 5px auto 25px auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
}
.cards {
    padding-top: 35px;
    position: relative;
}
.deck {
    width: 200px;
    height: 270px;
    border: 1px solid var(--col);
    color: var(--col);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 12px;
    padding: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(45deg, var(--back) 85%, var(--light-and-dark-always-orange) 85%);
}
.deck>h2 {
    padding-top: 25px;
    word-wrap: break-word;
}
.card {
    width: 200px;
    height: 270px;
    position: relative;
    border: 1px solid var(--col);
    color: var(--col);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 12px;
    padding: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(to bottom, var(--back) 83%, deepskyblue 99%);
}
.card>h2 {
    font-size: 1.2rem;
    word-wrap: break-word;
}
.deck:hover, .card:hover {
    color: var(--warning-color);
}
.amount {
    font-weight: bold;
    float: right;
    padding-top: 0;
    margin-top: 0;
}

.allTheButtons {
    background-color: var(--back);
    color: var(--col);
    border-radius: 5px;
}
.allTheButtons:hover {
    box-shadow: 1.5px 1.5px 1px .5px darkgray;
    text-shadow: .2px .2px .1px darkgray;
}
.buttonDesc {
    margin-top: 50%;
}
.textDesc, .desc {
    color: var(--col);
    text-align: left;
    word-wrap: break-word;
    margin-top: 10px;
    font: 1.1rem "Times New Roman";
    line-height: 1.8rem;
}
.descHeader {
    font-size: 1.4rem;
    font-weight: bold;
    word-wrap: break-word;
    color: var(--col);
    margin-top: 25px;
    margin-bottom: 20px;
}
.card::-webkit-scrollbar, .deck::-webkit-scrollbar {
    display: none;
}
.nameOfDeck {
    position: absolute;
    bottom: 5px;
    width: 200px;
    font-size: 1.3rem;
    font-family: Algerian, monospace;
    color: darkgray;
}

.editButton {
    width: 50%;
    font-size: .9rem;
}
.deleteButton {
    width: 50%;
    font-size: .9rem;
}
.editButton:hover {
    border-color: deepskyblue;
    box-shadow: 1.5px 1.5px 1px .4px deepskyblue;
    text-shadow: .2px .2px .1px deepskyblue;
}
.deleteButton:hover {
    border-color: var(--warning-color);
    box-shadow: 1.5px 1.5px 1px .4px var(--warning-color);
    text-shadow: .2px .2px .1px var(--warning-color);
}
.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-blend-mode: multiply;
    background: rgba(2,3,2,0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.modalCard {
    margin: 30px auto;
    z-index: 1001;
    background-color: var(--back);
    width: 530px;
    height: 620px;
    border: 1px solid var(--col);
    border-radius: 7px;
    overflow: auto;
}
.modalCard>.desc {
    padding: 0 20px;
    font: 1.2rem "Times New Roman";
    line-height: 1.8rem;
}
.modalCard::-webkit-scrollbar {
    display: none;
}
.modalCard>.modalHeader {
    margin-top: 25px;
    max-width: 100%;
    display: flex;
    color: var(--col);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.modalCard>.modalHeader>h2 {
    max-width: 66%;
    word-wrap: break-word;
    text-align: center;
}
.nextModal, .prevModal {
    width: 20%;
    height: 2%;
    margin: 23px;
    background-color: var(--back);
    border-radius: 5px;
}
.closeSign {
    float: right;
    padding-right: 5px;
    color: var(--col);
}
.closeSign:hover {
    cursor: pointer;
}

.modalForm {
    margin: 30px auto;
    z-index: 1001;
    background-color: var(--back);
    width: 50%;
    height: auto;
    border: 1px solid var(--col);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--col);
}
.modalFormBody {
    margin: 35px 30px 0 30px;
}
.newCardButtons {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}
.addCardButton {
    margin-right: 36px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--light-and-dark-always-orange);
}
.addCardButton:hover {
    background-color: var(--light-and-dark-always-orange);
    color: var(--back);
    cursor: pointer;
}
.cancelAddCardButton {
    font-size: 1.2rem;
    font-weight: bold;
}
.newCardBodyPart, .cardBodyPart {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.newCardBodyPart>input, .newCardBodyPart>select, .cardBodyPart>input, .cardBodyPart>select {
    font-size: 1.2rem;
    margin-left: 20px;
    border-radius: 5px;
    flex: 2;
}
#newCardDescription, #cardDescription, #cards-inside {
    font-size: 1.2rem;
    margin-left: 20px;
    border-radius: 5px;
    flex: 2;
    height: auto;
    resize: none;
}
.deck-or-card {
    display: flex;
    justify-content: space-evenly;
}
.newCardBodyPart>label, .cardBodyPart>label {
    flex: 1;
}
.warningMess {
    font-size: 1rem;
    width: auto;
    padding-top: 15px;
    margin: 3px 25px;
    color: var(--warning-color);
}

.cardwdcomp-appear {
    opacity: 0;
    transform-style: preserve-3d;
    transform: scale(0.1) rotateY(0deg) translate(0, 0);
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cardwdcomp-appear-done {
    opacity: 1;
    transform: scale(1) rotateY(360deg) translate(100%, 10%);
    transition: opacity 400ms linear, transform 400ms linear;
}
.cardwdcomp-enter {
    opacity: 1;
    transform: scale(1);
}
.cardwdcomp-exit {
    opacity: 0.8;
    transform: scale(0.7) rotateY(0deg) translate(0, 0);
    transition: opacity 700ms linear, transform 600ms linear;
}
.cardwdcomp-exit-active {
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 700ms linear, transform 600ms linear;
}

.confirm-modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(2,3,2,0.1);
}
.confirm-modal {
    width: 350px;
    height: auto;
    margin: auto;
    z-index: 1001;
    position: relative;
    align-self: center;
    margin-top: 15%;
    padding: 6px 6px;
    background-color: var(--back);
    border: 1px solid var(--col);
    border-radius: 7px;
    color: var(--col);
}
.confirm-modal .modalText {
    text-align: center;
    font-size: 1.2em;
    margin: 40px 10px 25px;
}
.confirmModalButtons {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.confirm-yes {
    width: 30%;
    font-size: .9rem;
    background-color: var(--back);
    color: var(--col);
}
.confirm-no {
    width: 30%;
    font-size: .9rem;
    background-color: var(--back);
    color: var(--col);
}
.confirm-no:hover {
    border-color: deepskyblue;
    box-shadow: 1.5px 1.5px 1px .4px deepskyblue;
    text-shadow: .2px .2px .1px deepskyblue;
}
.confirm-yes:hover {
    border-color: var(--warning-color);
    box-shadow: 1.5px 1.5px 1px .4px var(--warning-color);
    text-shadow: .2px .2px .1px var(--warning-color);
}
.loader {
    position: absolute;
    top: 44%;
    margin: 0 auto;    
}