body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    margin: 20px auto;
}
.header table {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header table thead, .header table tbody {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.decks, .subDecks, .cards {
    display: flex;
}
.deck, .card {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    overflow: auto;
}
.desc {
    text-align: left;
}