.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: white;
    font: 1.8rem "Rockwell Extra Bold";
    font-weight: bold;
    margin: -10px auto 0 auto;
    padding: 0;
}
.header>ul {
    list-style: none;
    margin: 0 100px 10px 25px;
    display: flex;
    flex-flow: row;
}
.header>ul>li {
    width: 30%;
    text-align: center;
}

a {
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:focus {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: black;
}
.recycle>a {
    display: inline;
}
.recycleBin {
    width: 13%;
}

.mainContentDiv {
    width: 100%;
    padding-top: 50px;
}
.decks, .cards {
    width: 90%;
    margin: 5px auto 25px auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
}
.deck {
    width: 180px;
    height: 240px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(45deg, white 85%, orange 85%);
}
.deck>h2 {
    padding-top: 25px;
}
.card {
    width: 170px;
    height: 220px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.card>h2 {
    font-size: 1.2rem;
    word-wrap: break-word;
}
.deck:hover, .card:hover {
    color: red;
}
.desc {
    text-align: left;
    color: black;
}
.amount {
    font-weight: bold;
    float: right;
    padding-top: 0;
    margin-top: 0;
}
.allTheButtons {
    background-color: white;
    border-radius: 5px;
}
.allTheButtons:hover {
    box-shadow: 1.5px 1.5px 1px .5px darkgray;
    text-shadow: .2px .2px .1px darkgray;
}
.buttonDesc {
    margin-top: 50%;
}
.textDesc {
    color: black;
    text-align: left;
    word-wrap: break-word;
}
.editButton {
    width: 50%;
    background-color: blue;
    font-size: 1.1rem;
    font-weight: bold;
}
.deleteButton {
    width: 50%;
    background-color: red;
    font-size: 1.1rem;
    font-weight: bold;
}
.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-blend-mode: multiply;
    background: rgba(2,3,2,0.1);
    backdrop-filter: blur(2px);
}
.modalCard {
    margin: 30px auto;
    z-index: 1001;
    background-color: white;
    width: 480px;
    height: 570px;
    border: 1px solid black;
    border-radius: 7px;
    overflow: auto;
}
.modalCard>h2 {
    text-align: center;
}
.modalCard>.desc {
    padding: 0 20px;
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.modalCard .modalHeader {
    margin-top: 25px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.nextModal, .prevModal {
    width: 20%;
    height: 2%;
    margin: 23px;
    background-color: white;
    border-radius: 5px;
}
.closeSign {
    float: right;
    padding-right: 5px;
}
.closeSign:hover {
    cursor: pointer;
}

.modalForm {
    margin: 30px auto;
    z-index: 1001;
    background-color: white;
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.modalFormBody {
    margin: 35px 30px 0 30px;
}
.newCardButtons {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}
.addCardButton {
    margin-right: 36px;
    font-size: 1.2rem;
    font-weight: bold;
    color: orange;
}
.addCardButton:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}
.cancelAddCardButton {
    font-size: 1.2rem;
    font-weight: bold;
}
.newCardBodyPart, .cardBodyPart {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.newCardBodyPart>input, .newCardBodyPart>select, .cardBodyPart>input, .cardBodyPart>select {
    font-size: 1.2rem;
    margin-left: 20px;
    border-radius: 5px;
    flex: 2;
}
#newCardDescription, #cardDescription, #cards-inside {
    font-size: 1.2rem;
    margin-left: 20px;
    border-radius: 5px;
    flex: 2;
    height: auto;
    resize: none;
}
.deck-or-card {
    display: flex;
    justify-content: space-evenly;
}
.newCardBodyPart>label, .cardBodyPart>label {
    flex: 1;
}
.warningMess {
    font-size: 1rem;
    width: auto;
    padding-top: 15px;
    margin: 3px 25px;
    color: red;
}
